
/*md-list-item.md-3-line, md-list-item.md-3-line>._md-no-style {*/
  /*height: 100px;*/
/*}*/


.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}


.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; 
}

.autocomplete-custom-template li:last-child {
  border-bottom-width: 0; 
}

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; 
}




.highlight {
	background-color: yellow;
    color: black;
}



md-virtual-repeat-container {
	min-height: 150px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.mapDetails {
  overflow-y: scroll; 
  max-height: 38%;
}

.mapDetails .md-no-sticky .md-subheader-inner {
  padding: 10px;
}

.mapDetails .layout-padding {
  padding: 0px;
}